.profile {
  text-align: center;
  padding: 15vh 1.5rem 1.5rem;
}

.profile img {
  width: 112px;
  height: 112px;
  border-radius: 50%; 
  object-fit: cover;
}

.profile p {
  font-weight: 500;
  line-height: 1.5rem;
  margin-top: 0.5rem;
}
